.heading {
    font-weight: bolder;
    margin-bottom: 2%;
    color: crimson;
}

.column {
    text-align: center;
}

.input {
    color:crimson;
    font-size: 10vh;
    height: auto;
    width: inherit;
    text-align: center;
    border: 1px gray solid;
    border-radius: 2%;
}

.text {
    font-size: 10vh;
}

.warning {
    font-weight: bolder;
    color: crimson;
    font-size: larger;
}

.sum {
    font-weight: bolder;
    color: crimson;
    font-size: 10vh;
}